.c{
    height:100vh;

}
.c{
    display : flex;
    height : 100vh;

}
h2{
    text-align : center
}
.c-left {
    padding: 0px 50px;
    flex: 50%;
    display: flex;
    flex-direction:column;
    align-items: center;

  }
  
  .c-right {
    flex: 50%;
    display: flex;
    flex-direction:column;
    align-items: center;

  }
  .c-title {
    font-size: 60px;
    width: 80%;
  }
  
  .c-info-item {
    display: flex;
    align-items: center;
    margin: 50px 0px;
    font-weight: 300;
    width: 70%;
    text-align: left;
  }
  
  .c-icon {
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }
  .container {
    width: 50%; /* Full width */
    background-color: #ddd; /* Grey background */
    margin-bottom:25px;

  }
  .cheader{
    margin-bottom:30px;
  }


  .skills {
    text-align: right; /* Right-align text */
    padding-top: 10px; /* Add top padding */
    padding-bottom: 10px; /* Add bottom padding */
    color: white; /* White text color */

  }
  
  .html {width: 90%; background-color: #04AA6D;} /* Green */
  .css {width: 80%; background-color: #2196F3;} /* Blue */
  .js {width: 65%; background-color: #f44336;} /* Red */
  .php {width: 80%; background-color: #808080;} /* Dark Grey */