
*{
box-sizing: border-box;



}.i{
    display : flex;
    height : 100vh;
}
.i-left {
    padding: 0px 50px;
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border:#59b256;

  }
  
  .i-right {
    flex: 50%;
  }
.i-left-wrapper{
    height: 50%;
    display: flex;
    flex-direction: column;

}
img{
border:double;
border-color: #59b256;
border-width: medium;
margin-top:10px;
margin-right: 10px;
}


.i-intro{
    font-size: 27px;
    font-weight:300;
    margin-left:10px;



}

.i-name{
    font-size: 45px;
    margin-left:10px;
    margin-left:10px;

}
.i-title  {
    height: 50px;
    overflow: hidden;
    margin-left:10px;

  } 

.i-title-item {
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #59b256;
    display: flex;
    align-items: center;
    
  }

  .i-title-wrapper {
    height: 100%;
    animation: move 5s ease-in-out infinite alternate;
  }
  .i-desc{
   margin-top: 20px;
   margin-left:10px;
  }
  @keyframes move {

    50% {
      transform: translateY(-50px);
    }
    100% {
      transform: translateY(-100px);
    }
  }
  .i-img{
    object-fit: cover;
    width:100%;
    height:100%;

  }
  @media (max-width: 1000px){
 .i-title-wrapper{
   z-index: -1;
 }
 .i-desc{
  margin-top: 15px;
  margin-left:10px;
 }
  }
  @media screen and (max-width: 708px) {
 
.i-img{
      display:none;
    }
  }