.nav{
    display : flex;
    flex-direction : row;
    background: rgb(89, 178, 86,0.7);
margin:10px;

}
.nav_left {
    padding: 0px 50px;
    flex: 50%;
    display: flex;
  }
  
.nav_right {
    flex: 50%;
    display:flex;
    flex-direction: row;

    margin:auto;
}
.navul {
    display:inline;
    float: right;

    
}
.navl{
    font-weight:600;
}
 ul li {
     display:inline;
     margin-right:30px;
     text-decoration: aqua;

     
 }
