.nav{
    display : flex;
    flex-direction : row;
    background: rgb(89, 178, 86,0.7);
margin:10px;
border:double;
border-color:white;
border-width: thick;

}
.nav_left {
    padding: 0px 50px;
    flex: 50%;
    display: flex;
  }
  
.nav_right {
    flex: 50%;
    display:flex;
    flex-direction: row;

    margin:auto;
}
.navul {
    display:inline;
    float: right;

    
}
.navl{
    font-weight:600;
}
 ul li {
     display:inline;
     margin-right:30px;
     text-decoration: aqua;
     
 }
 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }