.project-text{
  color:#59b256
}
.p{
    text-align:center;

}
.row{
    display:flex;
    height:100vh;
    margin-top: 20px;
}
* {
    box-sizing: border-box;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
  }
 h2{
    color:#59b256;
 
}
p{
    font-weight: bold;
}
  h3{
    margin-bottom: 20px;
    color:#59b256;
  }
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
 
  .fa-github{
    background:black;
    color:white;

}
  
.card{
  border:double;
  border-color:#59b256;
  border-width: medium;
}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }
  .column {
    float: left;
    width: 25%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 900px) {
    .column {
      width: 50%
    }
    .row{
    flex-direction: column;
 align-items: center;
    }
  }
  